@page "/ServerCoreTools/webpages/github/init"

@{
    ViewBag.Title = "Rychlá Nápověda";

    string currRepo = (string)ViewContext.RouteData.Values["repoName"];
    string currUser = (string)ViewContext.RouteData.Values["userName"];
    string currId = (string)ViewContext.RouteData.Values["id"];
    var request = ViewContext.HttpContext.Request;
    var giturl = $"{request.Scheme}://{request.Host}/{currUser}/{currRepo}.git";
}
<div class="ui clearing segment">
    <h3 class="ui left floated header">@currUser / @currRepo</h3>
</div>
<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column content">
            <h4 class="ui top attached header">
                Rychlá Nápověda
            </h4>
            <div class="ui attached guide table segment">
                <div class="item">
                    <h3>
                        Klonovat aktuální repozitář <small>
                            pro nápovědu <a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" rel="nofollow" target="_blank"> Klikněte Zde</a>
                        </small>
                    </h3>
                    <div class="ui fluid action small input">
                        <button class="ui basic clone button blue" id="repo-clone-https" data-link="@giturl">
                            HTTP
                        </button>
                        <input id="giturl" type="text" value="@giturl" readonly>
                        <button class="ui teal right labeled icon button" onclick="navigator.clipboard.writeText($('#giturl').val());"><i class="copy icon"></i> Kopírovat</button>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <h3>
                        Klonovat z příkazové řádky
                    </h3>
                    <div class="markdown">
                        <pre><code>čti README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url">@giturl</span>
git push -u origin master</code></pre>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <h3>Aktualizovat Repozitář z příkazové řádky</h3>
                    <div class="markdown">
                        <pre><code>git remote add origin <span class="clone-url">@giturl</span>
git push -u origin master</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>